<h1>FarMar Login</h1>
<p>Please create a new session by entering your information:</p>

<%= form_for(:session, url: sessions_create_path(:user_type => @user)) do |f| %>

  <%= @user %>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.submit "Log in" %>
<% end %>
