<h1>Welcome to FarMar!</h1>
<p>Please create a new session by entering your information:</p>

<%= form_for(:session, url: sessions_create_path) do |f| %>

  <%= f.label :type %>
  <%= f.text_field :type %>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.submit "Log in" %>
<% end %>
