<h1>Market successfully created!</h1>
<p>You have created <%= @market.name %>, with market ID of <%= @market.id %>.</p>
<p>Want to sign is as the newly created market? <%= link_to "Go to login", sessions_index_path %> </p>
<p>Or, stay logged in as <%= current_user.name %>: <%= link_to "Return to main page", markets_index_path %> </p>
